@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@{
    Layout = "MainLayout.cshtml";

    var heroblocks = Model.Value<IEnumerable<BlockListItem>>("heroCta");
    var servicesBlocks = Model.Value<IEnumerable<BlockListItem>>("serviceSection");
    var whyUsBlocks = Model.Value<IEnumerable<BlockListItem>>("whyUsSection");
    var successBlocks = Model.Value<IEnumerable<BlockListItem>>("successSection");
    var projectBlocks = Model.Value<IEnumerable<BlockListItem>>("recentProjects");
}


@if (heroblocks?.Any() == true)
{
    foreach (var block in heroblocks)
    {
        @await Html.PartialAsync("BlockList/" + block.Content.ContentType.Alias, block)
    }
}

<div class="bg-[#f7f7f7]">
    <partial name="Partials/_Services"/>
</div>

@if (whyUsBlocks?.Any() == true)
{
    foreach (var block in whyUsBlocks)
    {
        @await Html.PartialAsync("_WhyUs",block)    
    }    
}

@if (successBlocks?.Any() == true)
{
    foreach (var block in successBlocks)
    {
        @await Html.PartialAsync("_SuccessStory", block)
        

    }
}

@if (projectBlocks?.Any() == true)
{
    foreach (var block in projectBlocks)
    {
        @await Html.PartialAsync("_RecentProjects", block)


    }
}





