@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography style for RTE blocks */
.prose {
    @apply text-gray-800 leading-relaxed space-y-4;
}

    .prose h1 {
        @apply text-3xl font-bold mt-6 mb-4;
    }

    .prose h2 {
        @apply text-2xl font-semibold mt-6 mb-3;
    }

    .prose h3 {
        @apply text-xl font-semibold mt-4 mb-2;
    }

    .prose p {
        @apply mb-4;
    }

    .prose ul {
        @apply list-disc ml-6 mb-4;
    }

    .prose ol {
        @apply list-decimal ml-6 mb-4;
    }

    .prose a {
        @apply underline text-blue-600;
    }
    .prose img {
        @apply max-w-full h-auto my-4;
    }
