@using Umbraco.Cms.Core.Models.Blocks
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models.PublishedContent
@model BlockListItem



<div>
    <a href="">
        <div class="w-[250px] shadow-lg shrink-0 snap-start my-4">
            <div class="w-full">
                <h3 class="p-3"></h3>
            </div>
            <img class="w-full h-50 object-cover object-center" src="" alt="">
            <p class="text-sm font-light p-2"></p>
        </div>
    </a>
</div>


