@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="flex h-[10] w-full justify-center bg-black">
    <div class="w-75">
        <p class="p-3 text-sm text-[#535656]">© Onatrix. All Rights Reserved. Credits to Themesflat</p>
    </div>
</div>