<section id="LetUsKnow">

    <div class="w-full bg-[#f7f7f7] flex flex-col items-center justify-center">

        <div class="w-3/4 max-w-[1200px] flex flex-col items-center justify-center my-20 lg:mb-0 lg:mt-10 lg:flex-row">

            <img class="w-2/4 hidden lg:block" src="/images/110.png" alt="">
            <div>
                <h2 class="text-2xl font-bold mt-2 text-[#4F5955]"> Let us know about your next project</h2>

                <div class="mt-6 flex items-center gap-2">
                    <img src="/images/icons/address.png" alt="">
                    <p class="font-semibold">Office location</p>
                </div>
                <p class="px-6">Klarabergsviadukten 90, 111 52 Stockholm</p>

                <div class="mt-6 flex items-center gap-2">
                    <img src="/images/icons/phone.png" alt="">
                    <p class="font-semibold">Phone number</p>
                </div>
                <p class="px-6">+46 8 123 456 75</p>

                <div class="mt-6 flex items-center gap-2">
                    <img src="/images/icons/email.png" alt="">
                    <p class="font-semibold">E-mail address</p>
                </div>
                <p class="px-6">sales@onatrix.com</p>
            </div>
        </div>
    </div>
</section>